    html {
        font-family: 'Oxygen', sans-serif;
    }
    
    header {
        background-color: #ffffff;
        height: 52px;
        position: fixed;
        width: 100%;
        top: 0;
        left: 0;
        z-index: 6;
    }
    
    body {
        margin: 0;
    }
    
    .logo {
        float: left;
        max-width: 150px;
    }
    
    .navigation {
        text-transform: uppercase;
        color: #8c8c8c;
        float: right;
        font-size: 14px;
        word-spacing: 22px;
        height: 52px;
    }
    
    .inner-container {
        max-width: 1200px;
        margin: 0 auto;
        width: 100%;
    }
    
    .navigation a {
        text-decoration: none;
        line-height: 52px;
        color: #C1BBBB;
    }
    
    .navigation a:hover {
        color: #64696b;
        font-weight: bold;
    }
    
    section.home-section {
        margin-top: 55px;
        width: 100%;
        height: 100%;
        background-image: url('images/blurred.jpg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    
    .home-inner-section {
        max-width: 1200px;
        padding-top: 10px;
        margin: 0 auto;
        text-align: center;
        color: white;
    }
    
    .home-inner-section h1 {
        text-transform: uppercase;
        font-size: 45px;
        margin: 40px 0;
        letter-spacing: -2px;
        font-weight: 400;
    }
    
    .arrow1 {
        opacity: 0.5;
        float: left;
    }
    
    .arrow2 {
        opacity: 0.5;
        float: right;
    }
    
    .home-inner-section #description1 {
        text-transform: uppercase;
        font-size: 28px;
        letter-spacing: -1px;
        margin: 40px;
    }
    
    .home-inner-section #description2 {
        font-size: 18px;
        margin: 40px;
        font-weight: 400;
    }
    
    .home-inner-section #expertise {
        text-transform: uppercase;
        background-color: #75B3BC;
        border: 0;
        margin: 5px;
        color: white;
        height: 40px;
        font-size: 10px;
        font-weight: 600;
    }
    
    .home-inner-section #browsejobs {
        text-transform: uppercase;
        background-color: Transparent;
        border-color: #FFFFFF;
        color: #FFFFFF;
        margin: 5px;
        height: 40px;
        font-size: 10px;
        font-weight: 600;
        margin-bottom: 60px;
    }
    
    .angle {
        width: 30px;
        height: 15px;
        background-color: #414141;
        margin: 0 auto;
        margin-bottom: 0;
    }
    
    .latest-jobs {
        width: 100%;
        height: 100%;
        display: none;
        background-color: #414141;
    }
    
    .latest-jobs.show {
        display: block;
    }
    
    .latest-jobs-inputs {
        padding: 25px;
        text-align: center;
    }
    
    .button-jobs {
        text-transform: uppercase;
        background-color: #F46464;
        color: #FFFFFF;
        margin: -3px;
        height: 40px;
        font-weight: 600;
        font-size: 10px;
        padding: 15px;
        border: 0;
    }
    
    .latest-jobs-inputs .input-jobs {
        height: 40px;
        background-color: #373737;
        color: #FFFFFF;
        /* width: 600px; */
        margin: 0;
        border: 0;
        min-width: 30%;
        padding-right: 30px;
    }
    
    .relative {
        position: relative;
    }
    
    .latest-jobs-inputs .input-jobs:hover,
    .latest-jobs-inputs .input-jobs:focus {
        outline: none;
    }
    
    .sponsors {
        width: 100%;
        height: 100%;
        padding: 30px;
        box-sizing: border-box;
    }
    
    .sponsors .images {
        text-align: center;
        filter: grayscale(100%);
        opacity: 0.5;
    }
    
    #vodafone,
    #at {
        height: 50px;
        padding-right: 25px;
    }
    
    #schroders {
        height: 50px;
        padding-right: 25px;
    }
    
    #computa,
    #cognizant {
        height: 50px;
        padding-right: 25px;
    }
    
    #truphone {
        height: 40px;
        padding-right: 25px;
    }
    
    #citrix {
        height: 35px;
        padding-right: 25px;
    }
    
    .about {
        width: 100%;
        height: 100%;
        float: left;
    }
    
    .title {
        text-transform: uppercase;
        text-align: center;
        margin: 0 auto;
        font-weight: bold;
        color: white;
        font-size: 35px;
        padding: 15px;
        letter-spacing: -1px;
        background-color: #414141;
    }
    
    .about-content {
        background-color: #70BAC5;
        width: 100%;
        height: 100%;
        text-align: center;
    }
    
    .about-content p:first-child {
        color: white;
        font-size: 23px;
        margin-top: 0;
    }
    
    .header-about {
        font-weight: bold;
        text-transform: uppercase;
        margin-left: 0;
        /* width:  0; */
    }
    
    .content {
        width: 49%;
        margin-top: 30px;
        margin-bottom: 30px;
        float: left;
        text-align: left;
        display: table;
    }
    
    .content.swap {
        float: right;
    }
    
    .hexagon-box {
        width: 50%;
        position: absolute;
        right: 0;
        height: 100%;
    }
    
    .hexagon-box.swap {
        left: 0;
    }
    
    .different .hexagon {
        float: left;
    }
    
    .hexagon {
        position: relative;
        height: 140px;
        width: 140px;
        background: white;
        max-width: 600px;
        margin: 0 auto;
        top: calc(50% - 75px);
    }
    
    .hexagon:before,
    .double:after {
        position: absolute;
        content: '';
    }
    
    .hexagon:before {
        top: 4px;
        left: 4px;
        height: calc(100% - 8px);
        width: calc(100% - 8px);
        background: black;
    }
    
    .hexagon,
    .hexagon:before,
    .double:after {
        -webkit-clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
        clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
    }
    
    .clearfix::after {
        content: "";
        clear: both;
        display: table;
    }
    
    .hexagon i {
        position: absolute;
        top: 17%;
        left: 27px;
        font-size: 83px;
    }
    
    .fa-code-branch {
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg);
        display: inline-block;
    }
    
    .triangle {
        margin: 0 auto;
        display: inline-block;
        border-top: solid 20px #414141;
        border-left: solid 15px transparent;
        border-right: solid 15px transparent;
    }
    
    .expertise-content {
        background-color: #FFFFFF;
        width: 100%;
        height: 100%;
        text-align: center;
    }
    
    .expertise-title {
        color: #70BAC5;
        text-transform: uppercase;
        font-weight: bold;
        font-size: 26px;
        margin-bottom: 20px;
        margin-top: 20px;
    }
    
    .bullets {
        text-align: center;
        position: relative;
    }
    
    .bullet {
        width: 110px;
        height: 110px;
        border-radius: 50%;
        background: #6EB8C3;
        margin: 20px;
        display: inline-block;
        border: 5px solid #6EB8C3;
        position: relative;
        overflow: hidden;
        text-transform: uppercase;
        color: white;
        font-size: 12px;
    }
    
    .bullet i {
        position: absolute;
        font-size: 45px;
        right: 35px;
        top: 15px;
    }
    
    .half {
        display: inline-block;
        background-color: #404040;
        height: 75px;
        width: 118px;
    }
    
    .second-half {
        height: 35px;
        padding: 5px;
    }
    
    .led {
        padding-top: 10px;
    }
    
    .expertise-text {
        color: #665e5e;
        text-align: center;
    }
    
    .circle-text {
        color: #665e5e;
        font-size: 23px;
    }
    
    .left {
        text-align: left;
        margin-right: 16px;
    }
    
    .circle {
        background-color: #404040;
        border: 3px solid #DC9899;
        max-width: 600px;
        margin: 0 auto;
        top: calc(50% - 110px);
        position: relative;
        box-sizing: border-box;
    }
    
    .circle.peach-border {
        border: 3px solid #DAB09A;
    }
    
    .circle.green-border {
        border: 3px solid #97D9A9;
    }
    
    .circle.blue-border {
        border: 3px solid #98BBD9;
    }
    
    .bigger {
        width: 230px;
        height: 230px;
    }
    
    .circle.smaller {
        position: absolute;
        top: calc(50% - 55px);
        left: calc(50% - 55px);
        z-index: 2;
        border: 3px solid #fff;
        margin: 0 auto;
    }
    
    .smaller.pink {
        background-color: #DC9899;
    }
    
    .smaller.peach {
        background-color: #DAB09A;
    }
    
    .smaller.blue {
        background-color: #98BBD9;
    }
    
    .smaller.green {
        background-color: #97D9A9;
    }
    
    .circle-line {
        width: 100%;
        border: 1px solid white;
        position: absolute;
        top: calc(50% - 1px);
        z-index: 1;
    }
    
    .circle-line.grade-45 {
        transform: rotate(45deg);
    }
    
    .circle-line.grade-90 {
        transform: rotate(90deg);
    }
    
    .circle-line.grade-135 {
        transform: rotate(135deg);
    }
    
    .circle-line.grade-30 {
        transform: rotate(30deg);
    }
    
    .circle-line.grade-40 {
        transform: rotate(47deg);
    }
    
    .circle-line.grade-160 {
        transform: rotate(134deg);
    }
    
    .circle-line.grade-150 {
        transform: rotate(150deg);
    }
    
    .circle-inside {
        color: white;
        font-size: 10px;
        top: 43px;
        left: 8px;
        position: absolute;
        margin: 0 auto;
    }
    
    .digital {
        left: 35px;
    }
    
    .assignments {
        background-color: #6EB8C3;
        width: 100%;
    }
    
    .assign-title {
        color: #ffffff;
        text-transform: uppercase;
        font-weight: bold;
        font-size: 26px;
        text-align: center;
        padding: 30px 0;
    }
    
    .circle-inside.small-size {
        font-size: 8px;
        position: absolute;
        left: 47px;
        top: 30px;
    }
    
    .small-size:nth-child(2) {
        left: 22px;
        top: 72px;
    }
    
    .small-size:nth-child(3) {
        left: 16px;
        top: 140px;
    }
    
    .small-size:nth-child(4) {
        left: 53px;
        top: 184px;
    }
    
    .small-size:nth-child(5) {
        left: 128px;
        top: 180px;
    }
    
    .small-size:nth-child(6) {
        left: 165px;
        top: 136px;
    }
    
    .small-size:nth-child(7) {
        left: 175px;
        top: 78px;
    }
    
    .small-size:nth-child(8) {
        left: 131px;
        top: 30px;
    }
    
    .small-size.two {
        left: 54px;
        top: 36px;
    }
    
    .small-size.two:nth-child(2) {
        left: 134px;
        top: 37px;
    }
    
    .small-size.two:nth-child(3) {
        left: 177px;
        top: 103px;
    }
    
    .small-size.two:nth-child(4) {
        left: 140px;
        top: 178px;
    }
    
    .small-size.two:nth-child(5) {
        left: 59px;
        top: 178px;
    }
    
    .small-size.two:nth-child(6) {
        left: 4px;
        top: 105px;
    }
    
    .small-size.four {
        left: 43px;
        top: 32px;
    }
    
    .small-size.four:nth-child(2) {
        left: 137px;
        top: 40px;
    }
    
    .small-size.four:nth-child(3) {
        left: 175px;
        top: 118px;
    }
    
    .small-size.four:nth-child(4) {
        left: 80px;
        top: 183px;
    }
    
    .small-size.four:nth-child(5) {
        left: 11px;
        top: 121px;
    }
    
    .small-size.four:nth-child(6) {
        left: 4px;
        top: 105px;
    }
    
    .half-1 {
        width: 50%;
        top: 41%;
    }
    
    .half-2 {
        top: 100%;
    }
    
    .half-3 {
        width: 50%;
        top: 29%;
        right: -19%;
    }
    
    .half-4 {
        width: 50%;
        top: 24%;
        left: 25%;
    }
    
    .half-5 {
        width: 50%;
        top: 37%;
        left: -2%;
    }
    
    .half-6 {
        width: 50%;
        top: 42%;
        left: 48%;
    }
    
    .half-7 {
        width: 50%;
        top: 77%;
        left: -3%;
    }
    
    .half-8 {
        width: 50%;
        top: 77%;
        left: 55%;
    }
    
    .small-size.three {
        left: 63px;
        top: 25px;
    }
    
    .small-size.three:nth-child(2) {
        left: 26px;
        top: 143px;
    }
    
    .small-size.three:nth-child(3) {
        left: 166px;
        top: 141px;
    }
    
    .arrows-assign {
        text-align: right;
    }
    
    .arrow-1,
    .arrow-2 {
        color: #FFFFFF;
        background-color: black;
        display: inline-block;
        padding: 1px 7px;
    }
    
    .arrow-1:hover,
    .arrow-2:hover {
        background-color: #414141;
    }
    
    .container-left,
    .container-right {
        max-width: 600px;
        margin-top: 3px;
        text-align: left;
        height: 100%;
        overflow: hidden;
        position: relative;
        display: table-row;
    }
    
    .container-left .practice {
        background-color: #414141;
        width: 20%;
        border: 2px #6EB8C3;
        text-align: center;
        vertical-align: middle;
        display: table-cell;
    }
    
    .table-container {
        display: table;
        border-spacing: 3px;
        border-collapse: separate;
    }
    
    .container-left .description {
        background-color: #B3D8DC;
        width: 74%;
        padding: 8px;
        display: block;
        display: table-cell;
    }
    
    .width-48 {
        width: 47%;
        float: left;
    }
    
    .pull-right {
        float: right
    }
    
    .assign-padding {
        padding-bottom: 40px;
    }
    
    .clients {
        width: 100%;
        height: 100%;
        background-image: url('images/grey.jpg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    
    .clients-container {
        max-width: 49%;
        display: inline-block;
    }
    
    .assign-title.clients-title {
        font-size: 24px;
        text-align: left;
    }
    
    .assign-title.small-title {
        font-size: 14px;
        text-align: left;
        padding-top: 0px;
        padding-bottom: 0px;
    }
    
    .assign-title.clients-description {
        font-size: 15px;
        text-align: left;
        font-weight: 400;
        text-transform: initial;
        padding-top: 0px;
        padding-bottom: 0px;
    }
    
    .comment-icon-clients {
        font-size: 250px;
        color: #6EB8C3;
        width: 50%;
        height: 100%;
        display: inline-block;
        vertical-align: top;
    }
    
    .title.clients-testimonials {
        font-size: 20px;
        background-color: #393939;
    }
    
    .testimonial-content {
        width: 75%;
        margin: 0 auto;
        text-align: center;
    }
    
    .testimonial-title {
        font-size: 25px;
        padding: 15px;
    }
    
    .testimonial-subtitle {
        font-size: 20px;
        text-align: left;
        padding: 10px;
        padding-left: 0;
        text-transform: initial;
    }
    
    .testimonial-description {
        font-size: 15px;
        text-align: left;
        text-transform: initial;
        font-weight: 400;
    }
    
    .text-container-middle {
        width: 90%;
        margin: 0 auto;
    }
    
    .home-inner-section.testimonial {
        position: relative;
    }
    
    .quote-right {
        color: #6EB8C3;
        float: right;
        font-size: 50px;
        position: absolute;
        top: 100px;
        right: 0;
    }
    
    .quote-left {
        color: #6EB8C3;
        float: left;
        font-size: 50px;
        position: absolute;
        top: 100px;
        left: 0;
    }
    
    .bullet.grey-color {
        background-color: #414141;
        border: 3px solid #FFFFFF;
    }
    
    .bullet.grey-color i {
        position: absolute;
        top: 25px;
        left: 18px;
        font-size: 65px;
    }
    
    .next {
        text-align: right;
        padding: 20px;
    }
    
    .next div {
        background-color: #FFFFFF;
        width: 20px;
        height: 8px;
        display: inline-block;
    }
    
    .next div:hover {
        background-color: #7c7272;
    }
    
    .next div:first-child {
        background-color: #7c7272;
    }
    
    .candidates-testimonials {
        background-color: #77C9D5;
    }
    
    .candidates-quote {
        color: #39393A;
    }
    
    .candidate-circle {
        background-color: #D66464;
        width: 45px;
        height: 45px;
        margin-bottom: 19px;
        display: block;
        margin: 0;
        float: left;
        box-sizing: border-box;
        position: relative;
    }
    
    .bullet-text {
        float: left;
        height: 60px;
        margin-left: 15px;
        margin-bottom: 10px;
        max-width: calc(100% - 75px);
    }
    
    .first-service {
        position: relative;
    }
    
    .title-service {
        font-weight: bold;
        font-size: 16px;
    }
    
    .candidate-circle i {
        font-size: 24px;
        top: 5px;
        left: 7px;
    }
    
    .bullet.right-bullet {
        top: 35%;
    }
    
    .team-text {
        text-align: center;
        color: #414141;
        padding: 30px;
    }
    
    section.expertise.team {
        float: left;
        width: 100%;
    }
    
    .max-100 {
        max-width: 100%;
        /* border-bottom: none; */
        float: left;
        filter: grayscale(100%);
    }
    
    .people-data {
        background-color: #414141;
        padding: 10px;
        /* margin-top: 8px; */
    }
    
    .job {
        color: #B77747;
        font-size: 12px;
        text-transform: uppercase;
    }
    
    .people-contact {
        background-color: #313131;
        padding: 3px 20px;
    }
    
    .people-contact .phone {
        color: #7A7267;
        font-size: 10px;
        text-align: right;
    }
    
    .social-networks {
        float: left;
    }
    
    .social-networks i {
        margin-right: 15px;
        margin-left: 15px;
        color: #77C9D5;
    }
    
    .photos-container {
        float: left;
        /* box-sizing: border-box; */
    }
    
    .photos {
        /* width: 204px; */
        width: 260px;
        float: left;
        margin: 15px;
        border: 5px solid #313131;
    }
    
    .career {
        background-color: #FAFAFA;
        float: left;
        width: 100%;
    }
    
    .career-content {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
    }
    
    .career-enhalancement {
        width: 50%;
        text-align: left;
    }
    
    .rewards {
        width: 50%;
        float: right;
        text-align: left;
    }
    
    .bullet-text-grey {
        color: #313131;
        text-transform: uppercase;
    }
    
    .bullet.career-circle {
        background-color: #FAFAFA;
        width: 45px;
        height: 45px;
        margin-bottom: 19px;
        display: block;
        border: 3px solid #F59D3C;
        margin: 0;
        float: left;
        box-sizing: border-box;
        position: relative;
    }
    
    .bullet.career-circle i {
        width: 0px;
        color: #77C9D5;
        font-size: 24px;
        top: 8px;
        left: 7px;
    }
    
    .form-container {
        width: 50%;
        text-align: left;
    }
    
    .form-description {
        color: #FFFFFF;
        text-transform: uppercase;
        font-size: 15px;
        font-weight: bold;
        padding-top: 25px;
        padding-bottom: 5px;
    }
    
    .form-description.be-social {
        padding-top: 18px;
    }
    
    input.name {
        height: 25px;
        width: 90%;
        border: 0;
    }
    
    textarea .message {
        max-width: 100%;
        box-sizing: border-box;
        width: 90%;
    }
    
    .send {
        background-color: #4D4D4D;
        border: 0;
        width: 90px;
        height: 35px;
        color: white;
        font-weight: bold;
        text-transform: uppercase;
        margin-top: 52px;
    }
    
    .contact-container {
        width: 100%;
        display: flex;
        margin-bottom: 30px;
    }
    
    .address-container {
        padding-top: 25px;
        width: 29%;
        margin: 0 auto;
        text-align: center;
    }
    
    .mapouter {
        margin: 0 auto;
        text-align: center;
        height: 300px;
    }
    
    .address {
        float: left;
        text-align: left;
        display: flex;
    }
    
    .form-description.address-title {
        padding-top: 0px;
    }
    
    .form-description.social-media {
        padding-top: 15px;
        text-align: left;
        padding-top: 0px;
    }
    
    .email {
        padding-top: 10px;
    }
    
    .call {
        padding-left: 50px;
    }
    
    .social {
        padding: 2px;
    }
    
    .download {
        background-color: #F59D3C;
        color: #FFFFFF;
        border: 0;
        height: 35px;
        width: 158px;
        margin-top: 16px;
        font-weight: bold;
        text-transform: uppercase;
        /* padding: 5px; */
        padding: 0;
    }
    
    .book {
        background-color: #F46464;
        color: #FFFFFF;
        border: 0;
        height: 35px;
        width: 131px;
        margin-top: 18px;
        font-weight: bold;
        text-transform: uppercase;
    }
    
    .cv-send {
        background-color: #3D3D3D;
        width: 100%;
        height: 100%;
        max-width: 100%;
        float: left;
        /* margin: 12px; */
        padding: 22px;
    }
    
    i.fab.fa-twitter.bird {
        font-size: 70px;
        color: #08AAEA;
        float: left;
    }
    
    .comment-box {
        background-color: #393939;
        float: right;
        height: 71%;
        width: 86%;
        padding: 11px;
        text-align: left;
    }
    
    .quote-career-1 {
        color: #FFFFFF;
        float: right;
    }
    
    .quote-career-2 {
        color: #FFFFFF;
        float: left;
    }
    
    .quote-text {
        width: 90%;
        margin: 0 auto;
    }
    
    .quote-career-2 i {
        font-size: 30px;
    }
    
    .quote-career-1 i {
        font-size: 30px;
    }
    
    .footer-satigo {
        background-color: #424242;
        width: 100%;
        text-align: center;
        color: #F59D3C;
        float: left;
        font-size: 12px;
    }
    
    .footer-satigo i {
        font-size: 15px;
    }
    
    .copyright-footer {
        padding: 20px;
        /* float: left; */
    }
    
    .mapouter {
        text-align: right;
        height: 260px;
        width: 360px;
    }
    
    .gmap_canvas {
        overflow: hidden;
        background: none!important;
        height: 280px;
        width: 360px;
        float: left;
    }